.container {
    background-color: bisque;
}

body {
    background-color: sienna;
}

img {
    width: 50vh;
    height: 50vh;
}

.receipt {
    background-color: bisque;
    height: 100%;
    width: 35vh;
}
