<!DOCTYPE html>
<html>
    <head>
    <title>Flask Checkout</title>
    <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="receipt">
            {% set ns = namespace(subtotal=0) -%}
	    <table><tr><th>Item</th><th>Price</th></tr>
            {% for id, category, name, price in items -%}
            {% set ns.subtotal = ns.subtotal + price -%}
	    <tr>
	      <td>{{name}}</td>
	      <td>${{price}}</td>
            {% endfor -%}
	    </table>
            {% set tax = 0.1125 * ns.subtotal -%}
            {% set grand_total = ns.subtotal + tax -%}
            {{'**'*16}}<br>Subtotal ${{ns.subtotal|round(2)}}<br>
            Tax ${{tax|round(2)}}<br>Total ${{grand_total|round(2)}}<br>
            {{'**'*16}}<br>{{card}} {{payment_network}}<br>
            APPROVED - PURCHASE<br>AMOUNT: ${{grand_total|round(2)}}<br>
            {{date}} {{time}}<br>{{'**'*16}}
        </div>
    </body>
</html>
