<!DOCTYPE html>
<html>
    <head>
    <title>Flask Food</title>
    <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><center>Our food options:</center></h2>
            {% for item in options%}
            <button name="{{ item[0] }}">{{ item[0] }}</button>
            {{ item[1] }}<br>
            {% endfor %}
            <button style="float: right"><a href="/">Homepage</a></button>
        </div>
    </body>
</html>