<!DOCTYPE html>
<html>
    <head>
    <title>Flask Food</title>
    <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><center>Our food options:</center></h2>
	    <form action="/addcart" method=post>
            {% for item in options%}
            <input type=checkbox name=items value="{{ item[0] }}">
	    <label for="{{ item[0] }}">{{ item[0] }}</label> ${{ item[1] }}<br>
            {% endfor %}
	    <button type="submit">Add to cart</button>
            <button style="float: right"><a href="/">Homepage</a></button>
	    </form>
        </div>
    </body>
</html>
