<!DOCTYPE html>
<html>
    <head>
    <title>Flask Index</title>
    <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><center>Sloth Coffee Shop</center></h2>
            <h2>Welcome, {{ name }}</h2>
            <button><a href="/drinks">Drinks</a></button>
            <button><a href="/food">Food</a></button>
            <button><a href="/merchandise">Merch</a></button>
            <button><a href="/checkout">Checkout</a></button>
        </div>
    </body>
</html>